
{{#section 'title'}}
	Search
{{/section}}


{{#section 'nav'}}
<!-- NAV -->
<li class="active">
	<a href="home/index"><i class="fas fa-home"></i> Trang chủ</a>
</li>

<li class="dropdown">
	<a href="#">
		<i class="fas fa-bars"></i> Xem theo loại sản phẩm</a>
	<div class="dropdown-content">
		{{#each layoutVM.categories}}
		<a href="/category/{{CatID}}">{{CatName}}</a>
		{{/each}}
	</div>
</li>
<li class="dropdown">
	<a href="#">
		<i class="fas fa-bars"></i> Xem theo nhà sản xuất</a>
	<div class="dropdown-content">
		{{#each layoutVM2.producers}}
		<a href="/producer/{{ProduID}}">{{ProduName}}</a>
		{{/each}}
	</div>
</li>
<!-- /NAV -->
{{/section}} 
{{#section 'bodyleft'}}
<!-- aside Widget -->
<div class="aside" style="padding-left:0px">
	<!--<h3 class="aside-title">Tìm kiếm nâng cao</h3> -->
	<div style="margin-top:30px">
		
	<div class="col-md-8">
			<div class="header-search">
				<form method="POST" action="/search/advancesearch">
				<h4>Hãng sản xuất</h4>
					<select class="input-select" name="optionProdu">
						<option value="all">Tất cả</option>
						<option value="Asus">Laptop Asus</option>
						<option value="Dell">Laptop Dell</option>
						<option value="Mac">Laptop Macbook</option>
						<option value="MSI">Laptop MSI</option>
					</select>
					<h4>Loại laptop</h4>
					<select class="input-select" name="optionCat">
						<option value="all">Tất cả</option>
						<option value="Laptop Gaming">Lap Gaming</option>
						<option value="Laptop Văn phòng">Lap Văn phòng</option>
						<option value="Laptop Doanh nhân">Lap Doanh nhân</option>
						<option value="Laptop Ultrabook">Lap Ultrabook</option>
					</select>
					<h4>Mức giá</h4>
					<select class="input-select" name="optionPrice">
						<option value="100000000">Tất cả</option>
						<option value="20000000">10-20 triệu đồng</option>
						<option value="30000000">20-30 triệu đồng</option>
						<option value="40000000">30-40 triệu đồng</option>
						<option value="50000000">40-50 triệu đồng</option>
					</select>
					<button class="primary-btn order-submit" type="submit" style="margin-top:50px">Tìm kiếm</button>
				</form>
			</div>
		</div>
		
	</div>
</div>
<!-- /aside Widget -->
{{/section}} 
{{#section 'bodyright'}}

<!-- store products -->
	<h1  style="text-align:center; margin-top:70px">Sản phẩm cần tìm không tồn tại </h1>


	<div class="clearfix visible-sm visible-xs"></div>




	{{/section}}